{% extends 'app/base.html'%}
{%block contenido %}
<h1>Residente</h1>
<br>
<div class="row">
  <div class="col-2"></div>
    <div class="col-4">
      <div class="card h-100">
        <img src="https://cdn-icons-png.flaticon.com/512/2845/2845476.png" height="300px" width="300px" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title" >Estado de Cuenta </h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card h-100">
        <img src="" height="300px" width="300px" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">reserva </h5>
          <p class="card-text"> contamos con diferentes areas comunes las cuales usted puede disfrutar con su familia </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}